<%- include("partials/header.ejs") %>
<h1>About Us</h1>
<img class="profile" src="images/yogaPidurangala.jpg" alt="yogaPidurangalas">

<p>Join us on a voyage of discovery as we invite you to unlock the mysteries of ancient ruins, relish the flavors of traditional cuisine, and forge connections with the warm-hearted people who call this island home. From the moment you step foot in Sri Lanka to the day you bid farewell, we're committed to making your journey seamless, memorable, and deeply meaningful.</p>

  <%- include("partials/footer.ejs") %>